$primary-color: #5bcd5b;

.movie-detail {
  display: flex;
  flex-direction: row;
  height: 380px;
  background-color: #45484b; 
  padding: 5px 10px;
  justify-content: space-around;
  width: 100%;

  .video {
    display: flex;
    flex: 0 0 50%;
  }

  .movie-content {
    background-color: #565858;
    width: 100%;
    display: flex;
    flex: 0 0 50%;
    height: 92%;
    flex-direction: column;

    .close-btn {
      cursor: pointer;
      display: flex;
      justify-content: flex-end;
    }

    .title {
      color: #fff;
      padding: 4px 16px;
      font-size: 20px;
      font-weight: bold;
    }

    .subtitle {
      color: #fff;
      padding: 4px 16px;
      font-size: 12px;
    }

    .genre-section {
      display: flex;
      flex-direction: row;
      padding: 4px 16px;

      .genre {
        color: #fff;
        font-size: 12px;
        padding: 4px 16px;
        height: 15px;
        width: 30px;
        border: 1px solid white;
        border-top-left-radius: 15px 50%;
        border-bottom-left-radius: 15px 50%;
        border-top-right-radius: 15px 50%;
        border-bottom-right-radius: 15px 50%;
        display: flex;
        justify-content: center;

        &:not(:first-child) {
          margin-left: 8px;
        }

        .genre-title {
          text-align: center;
        }
      }
    }

    .count-section {
      display: flex;
      flex-direction: row;
      padding: 10px 16px;
      color: #fff;
      font-size: 12px;

      .votes {
        display: flex;
        flex-direction: column;
        width: 40%;

        &-percent {
          display: flex;
          flex-direction: row;
          font-weight: bold;
        }

        &-count {
          margin-left: 30px;
        }
      }

      .display-date {
        display: flex;
        flex-direction: column;
        width: 40%;

        .preview-date {
          display: flex;
          flex-direction: row;
          font-weight: bold;
        }
         
        .release-year {
          margin-left: 30px;
        }
      }
    }

    .movie-footer {
      margin-top: auto;
      padding: 20px 20px;
      display: flex;
      justify-content: space-between;

      .will-watch {
        display: flex;
        flex-direction: column;
        color: $primary-color;
        font-weight: 400;
        font-size: 10px;

        .thumps-up-circle {
          height: 25px;
          width: 25px;
          border: 1px solid $primary-color;
          border-radius: 50%;
          padding: 5px;
          margin-left: 10px;
        }
      }

      .maybe-watch {
        display: flex;
        flex-direction: column;
        color: yellow;
        font-weight: 400;
        font-size: 10px;

        .question-mark-circle {
          height: 25px;
          width: 25px;
          border: 1px solid yellow;
          border-radius: 50%;
          padding: 5px;
          margin-left: 14px;
        }
      }

      .wont-watch {
        display: flex;
        flex-direction: column;
        color: #dd5454;
        font-weight: 400;
        font-size: 10px;

        .thumps-down-circle {
          height: 25px;
          width: 25px;
          border: 1px solid #dd5454;
          border-radius: 50%;
          padding: 5px;
          margin-left: 14px;
        }
      }
    }
  }
}

.text {
  text-align: center;
}