$primary-color: #5acc5a;
.movie-items {
  display: flex;
  flex-direction: column;
  margin: 9px 9px;
  height: 330px;
  color: #fff;
  width: 15%;
  align-items: center;
  overflow: hidden;


  &:hover {
    & .image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    }
  }

  .image {
    width: 100%;
    min-height: 91%;
    background-size: cover;
    background-position: center;
  }

  .movie-content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    position: absolute;

    .play-button {
      cursor: pointer;
      position: absolute;
      top: 120%;
    }

    .votes {
      position: absolute;
      top: 280%;
      left: 40%;
      width: 200%;
      font-size: 11px;
      display: flex;

      &-count {
        font-size: '12px';
        font-weight: 'bold';
        width: '100%';
        display: 'flex';
        padding: 4px;
        flex-direction: column;
      }
    }
  }

  .footer {
    height: 9%;
    width: 100%;
    display: flex;
    
    .title {
      color: #fff;
      font-size: 12px;
      width: 100%;
      margin: 9px
    }
  }
}

.MuiSvgIcon-fontSizeLarge {
  font-size: 5rem !important;
}

.selected-movie {
  border: 5px solid $primary-color;
}

.release-date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 13%;
  left: 115%;
  color: #fff;
}

.date-circle {
  height: 50px;
  width: 50px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.date-content {
  height: '80%'; 
  width: '80%';
  text-align: 'center';
  display: 'flex';
  flex-direction: 'column';
}

.date {
  font-size: 12px;
  text-align: center;
}

.year {
  font-size: 12px;
  text-align: center;
}
