$primary-color: #5bcd5b;
.header {
  display: flex;
  height: 53px;
  padding: 5px 0px;
  align-items: center;
  justify-content: space-between;

  .title {
    color: #fff;
    font-size: 20px;
    font-family:'Dancing Script', cursive;
  }

  .search-box {
    display: flex;
    align-items: center;
  }

  .filters {
    display: flex;
    justify-content: flex-end;
    color: white;
  }
}

.makeStyles-multi-5 {
  height: 37px;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $primary-color !important;
}

.MuiOutlinedInput-input {
  padding: 10px 14px !important;
}

.MuiInputBase-input {
  color: $primary-color !important;
}

.MuiFormLabel-root {
  color: $primary-color !important;
}

.MuiSelect-select {
  min-width: 140px !important;
}


.MuiFormLabel-root {
  font-size: 0.8rem !important;
}
