.movie-container {
  display: flex;
  background-color: #45484b; 
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 5px 5px;
}

.applied-filters {
  display: flex;
  flex-direction: row;
  font-family:'Dancing Script', cursive;
  background-color: #45484b; 
  color: #fff;
  padding: 5px 15px;
}

.chip {
  display: flex;
  padding: 0 17px;
  height: 20px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  margin-left: 10px;
}

.closebtn {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
  margin: -2px;
}

.closebtn:hover {
  color: #fff;
}